@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  max-width: 1200px;
  margin: auto;
  background-color: #D0B8A8;
}

.cardProducto {
  width: 18rem;
  margin: 4px;
  background-color: hsl(0, 0%, 97%);
}

.cardBody {
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
}

img {
  margin-top:3px;
}

.cardProductos {
  margin: 4px;
  align-items:center;
  justify-content: center;
}

.cartWidget {
  position: relative;
  right: 3%;

}

.nav-link{
  margin: 15px 20px;
}

.cantCarrito {
  position: relative;
  left: 15%;
}

.itemDetail {
  max-width: 40%;
  margin-top: 20px;
}

.cantCarrito {
  position: relative;
  left: 15%;
}

.itemDetail {
  max-width: 40%;
  margin-top: 20px;
}
.cartContainer {
  margin-top:3%;
  margin-left: 26.5%;
}
.imgBody {
  display:block;
  margin:auto;
  max-height: 100%;
}

.btn-primary{
  background-color: #DFD3C3;
  color: #000;
  border-color: white;
}

.btn-secondary{
  color: #000;
  border-color: white;
}

.btn-primary :hover{
  color: white;
}

.bg-navbar {
    background-color: #85586F;
    font-weight: 600;
}

.card-color{
  background-attachment: #F3DEBA;
}

.text-black {
  color: black;
  font-weight: 600;
}

.cart{
  width: 30px;
}